openapi: 3.1.0
info:
  title: Duffel API
  version: "2"
  description: |
    OpenAPI specification for the Duffel API (version v2), generated from the
    public documentation at https://duffel.com/docs/api.

    Covers Flights, Stays, Cars, Payments, Identity, Notifications (webhooks)
    and supporting resources.

    All requests must include the `Duffel-Version: v2` header and a Bearer
    access token. Request and response bodies are wrapped in a `data` envelope.
    List endpoints are cursor-paginated via `limit`, `before` and `after`.
  contact:
    name: Duffel
    url: https://duffel.com/docs
  termsOfService: https://duffel.com/legal/terms-and-conditions
servers:
  - url: https://api.duffel.com
    description: Production and test mode (mode determined by access token)
security:
  - bearerAuth: []
tags:
  - name: Offer Requests
    description: Search for flights by describing slices and passengers
  - name: Partial Offer Requests
    description: Multi-step search returning fares per slice
  - name: Batch Offer Requests
    description: Search returning offers in batches as airlines respond
  - name: Offers
    description: Flight offers returned for an offer request
  - name: Orders
    description: Booked flight orders
  - name: Payments
    description: Payments against held orders
  - name: Seat Maps
    description: Seat maps and seat services for an offer
  - name: Order Cancellations
    description: Quote and confirm order cancellations
  - name: Order Change Requests
    description: Request changes to an order
  - name: Order Change Offers
    description: Offers satisfying an order change request
  - name: Order Changes
    description: Confirmable order changes
  - name: Airline-Initiated Changes
    description: Schedule changes initiated by the airline
  - name: Airline Credits
    description: Airline credits usable against new offers
  - name: Airlines
  - name: Aircraft
  - name: Airports
  - name: Cities
  - name: Places
    description: Place autocomplete suggestions
  - name: Loyalty Programmes
    description: Airline loyalty programmes
  - name: Stays - Search
  - name: Stays - Accommodation
  - name: Stays - Quotes
  - name: Stays - Bookings
  - name: Stays - Brands
  - name: Stays - Chains
  - name: Stays - Negotiated Rates
  - name: Stays - Loyalty Programmes
  - name: Cars - Search
  - name: Cars - Quotes
  - name: Cars - Bookings
  - name: Cards
    description: Tokenise customer cards (separate PCI-scoped host api.duffel.cards)
  - name: 3DS Sessions
    description: Three-D Secure sessions for card payments
  - name: Customer Users
  - name: Customer User Groups
  - name: Component Client Keys
  - name: Webhooks
  - name: Webhook Events
  - name: Webhook Deliveries
paths:
  # ---------------------------------------------------------------------------
  # Flights: Offer Requests
  # ---------------------------------------------------------------------------
  /air/offer_requests:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Offer Requests]
      operationId: listOfferRequests
      summary: List offer requests
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of offer requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OfferRequest"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Offer Requests]
      operationId: createOfferRequest
      summary: Create an offer request
      description: >
        Describe the slices and passengers you want to search for. Offers are
        returned inline when `return_offers` is true (default), otherwise
        retrieve them via the Offers endpoints.
      parameters:
        - name: return_offers
          in: query
          schema:
            type: boolean
            default: true
          description: Whether to include offers in the response
        - name: supplier_timeout
          in: query
          schema:
            type: integer
            minimum: 2000
            maximum: 60000
            default: 20000
          description: Milliseconds to wait for each airline to respond
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateOfferRequest"
      responses:
        "201":
          description: The created offer request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OfferRequest"
        default:
          $ref: "#/components/responses/Error"
  /air/offer_requests/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Duffel's unique identifier for the offer request
    get:
      tags: [Offer Requests]
      operationId: getOfferRequest
      summary: Get a single offer request
      responses:
        "200":
          description: The offer request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OfferRequest"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Partial Offer Requests
  # ---------------------------------------------------------------------------
  /air/partial_offer_requests:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Partial Offer Requests]
      operationId: createPartialOfferRequest
      summary: Create a partial offer request
      description: >
        Multi-step search. Returns offers for each slice independently; select
        one partial offer per slice and fetch full fares with the fares
        endpoint.
      parameters:
        - name: supplier_timeout
          in: query
          schema:
            type: integer
            minimum: 2000
            maximum: 60000
            default: 20000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateOfferRequest"
      responses:
        "201":
          description: The created partial offer request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OfferRequest"
        default:
          $ref: "#/components/responses/Error"
  /air/partial_offer_requests/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Partial Offer Requests]
      operationId: getPartialOfferRequest
      summary: Get a partial offer request
      parameters:
        - name: selected_partial_offer[]
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Partial offer IDs already selected for previous slices
      responses:
        "200":
          description: The partial offer request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OfferRequest"
        default:
          $ref: "#/components/responses/Error"
  /air/partial_offer_requests/{id}/fares:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Partial Offer Requests]
      operationId: getPartialOfferRequestFares
      summary: Get full fares for selected partial offers
      parameters:
        - name: selected_partial_offer[]
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: One selected partial offer ID per slice
      responses:
        "200":
          description: Offer request containing full offers for the selection
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OfferRequest"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Batch Offer Requests
  # ---------------------------------------------------------------------------
  /air/batch_offer_requests:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Batch Offer Requests]
      operationId: createBatchOfferRequest
      summary: Create a batch offer request
      description: >
        Returns immediately with `total_batches`; poll the GET endpoint to
        receive offers batch by batch as airlines respond.
      parameters:
        - name: supplier_timeout
          in: query
          schema:
            type: integer
            minimum: 2000
            maximum: 60000
            default: 20000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateOfferRequest"
      responses:
        "201":
          description: The created batch offer request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BatchOfferRequest"
        default:
          $ref: "#/components/responses/Error"
  /air/batch_offer_requests/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Batch Offer Requests]
      operationId: getBatchOfferRequest
      summary: Get a batch of offers
      description: >
        Long-polls until the next batch of offers is available or all batches
        are returned.
      responses:
        "200":
          description: The next batch of offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BatchOfferRequest"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Offers
  # ---------------------------------------------------------------------------
  /air/offers:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Offers]
      operationId: listOffers
      summary: List offers for an offer request
      parameters:
        - name: offer_request_id
          in: query
          required: true
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [total_amount, total_duration, "-total_amount", "-total_duration"]
          description: Sort order; prefix with `-` for descending
        - name: max_connections
          in: query
          schema:
            type: integer
          description: Only return offers with at most this many connections per slice
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Offer"
        default:
          $ref: "#/components/responses/Error"
  /air/offers/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Offers]
      operationId: getOffer
      summary: Get a single offer
      parameters:
        - name: return_available_services
          in: query
          schema:
            type: boolean
            default: false
          description: Include available services (bags, seats) in the offer
      responses:
        "200":
          description: The offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Offer"
        default:
          $ref: "#/components/responses/Error"
  /air/offers/{id}/actions/price:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Offers]
      operationId: priceOffer
      summary: Get the latest price for an offer
      description: Re-prices the offer with the airline and returns the updated offer.
      responses:
        "200":
          description: The re-priced offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Offer"
        default:
          $ref: "#/components/responses/Error"
  /air/offers/{offer_id}/passengers/{offer_passenger_id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
      - name: offer_passenger_id
        in: path
        required: true
        schema:
          type: string
    patch:
      tags: [Offers]
      operationId: updateOfferPassenger
      summary: Update a passenger on an offer
      description: >
        Add loyalty programme accounts or names to an offer passenger before
        booking, so loyalty fares can be applied.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  properties:
                    given_name:
                      type: string
                    family_name:
                      type: string
                    loyalty_programme_accounts:
                      type: array
                      items:
                        $ref: "#/components/schemas/LoyaltyProgrammeAccount"
      responses:
        "200":
          description: The updated offer passenger
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OfferRequestPassenger"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Orders
  # ---------------------------------------------------------------------------
  /air/orders:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Orders]
      operationId: listOrders
      summary: List orders
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
        - name: booking_reference
          in: query
          schema:
            type: string
          description: Filter by airline booking reference (PNR)
        - name: awaiting_payment
          in: query
          schema:
            type: boolean
          description: Filter hold orders awaiting payment
        - name: sort
          in: query
          schema:
            type: string
            enum: [payment_required_by, "-payment_required_by", created_at, "-created_at", next_departure, "-next_departure"]
        - name: passenger_name[]
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Filter by passenger name
        - name: requires_action
          in: query
          schema:
            type: boolean
          description: Filter orders with pending airline-initiated changes or schedule changes
      responses:
        "200":
          description: Paginated list of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Orders]
      operationId: createOrder
      summary: Create an order
      description: >
        Book one selected offer. `type: instant` requires payment inline;
        `type: hold` creates an unpaid order to be paid later via Payments.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateOrder"
      responses:
        "201":
          description: The created order
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
  /air/orders/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Orders]
      operationId: getOrder
      summary: Get a single order
      responses:
        "200":
          description: The order
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags: [Orders]
      operationId: updateOrder
      summary: Update an order's metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  properties:
                    metadata:
                      $ref: "#/components/schemas/Metadata"
      responses:
        "200":
          description: The updated order
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
  /air/orders/{id}/actions/price:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Orders]
      operationId: priceOrder
      summary: Get the latest price for a hold order
      description: Re-prices an unpaid (hold) order with the airline.
      responses:
        "200":
          description: The re-priced order
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
  /air/orders/{id}/available_services:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Orders]
      operationId: getOrderAvailableServices
      summary: List services available to add to an order
      responses:
        "200":
          description: Available services (bags, seats, etc.)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AvailableService"
        default:
          $ref: "#/components/responses/Error"
  /air/orders/{id}/services:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Orders]
      operationId: createOrderServices
      summary: Add services to an existing order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [add_services, payment]
                  properties:
                    add_services:
                      type: array
                      items:
                        type: object
                        required: [id, quantity]
                        properties:
                          id:
                            type: string
                            description: Available service ID
                          quantity:
                            type: integer
                    payment:
                      $ref: "#/components/schemas/CreatePayment"
      responses:
        "200":
          description: The updated order
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Payments
  # ---------------------------------------------------------------------------
  /air/payments:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Payments]
      operationId: listPayments
      summary: List payments
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
        - name: order_id
          in: query
          schema:
            type: string
          description: Filter payments by order
      responses:
        "200":
          description: Paginated list of payments
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Payment"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Payments]
      operationId: createPayment
      summary: Pay for a hold order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [order_id, payment]
                  properties:
                    order_id:
                      type: string
                    payment:
                      $ref: "#/components/schemas/CreatePayment"
      responses:
        "201":
          description: The created payment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Payment"
        default:
          $ref: "#/components/responses/Error"
  /air/payments/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Payments]
      operationId: getPayment
      summary: Get a single payment
      responses:
        "200":
          description: The payment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Payment"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Seat Maps
  # ---------------------------------------------------------------------------
  /air/seat_maps:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Seat Maps]
      operationId: getSeatMaps
      summary: Get seat maps for an offer
      parameters:
        - name: offer_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: One seat map per segment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SeatMap"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Order Cancellations
  # ---------------------------------------------------------------------------
  /air/order_cancellations:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Order Cancellations]
      operationId: listOrderCancellations
      summary: List order cancellations
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
        - name: order_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated list of order cancellations
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderCancellation"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Order Cancellations]
      operationId: createOrderCancellation
      summary: Create a pending order cancellation (quote)
      description: >
        Returns the refund amount the airline will pay. Nothing is cancelled
        until confirmed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [order_id]
                  properties:
                    order_id:
                      type: string
      responses:
        "201":
          description: The pending order cancellation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderCancellation"
        default:
          $ref: "#/components/responses/Error"
  /air/order_cancellations/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Order Cancellations]
      operationId: getOrderCancellation
      summary: Get a single order cancellation
      responses:
        "200":
          description: The order cancellation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderCancellation"
        default:
          $ref: "#/components/responses/Error"
  /air/order_cancellations/{id}/actions/confirm:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Order Cancellations]
      operationId: confirmOrderCancellation
      summary: Confirm an order cancellation
      description: Irreversibly cancels the order and triggers the refund.
      responses:
        "200":
          description: The confirmed order cancellation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderCancellation"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Order Change Requests / Offers / Changes
  # ---------------------------------------------------------------------------
  /air/order_change_requests:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Order Change Requests]
      operationId: createOrderChangeRequest
      summary: Create an order change request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [order_id]
                  properties:
                    order_id:
                      type: string
                    slices:
                      type: object
                      properties:
                        remove:
                          type: array
                          items:
                            type: object
                            required: [slice_id]
                            properties:
                              slice_id:
                                type: string
                        add:
                          type: array
                          items:
                            type: object
                            required: [origin, destination, departure_date, cabin_class]
                            properties:
                              origin:
                                type: string
                              destination:
                                type: string
                              departure_date:
                                type: string
                                format: date
                              cabin_class:
                                $ref: "#/components/schemas/CabinClass"
                    private_fares:
                      $ref: "#/components/schemas/PrivateFares"
      responses:
        "201":
          description: The created order change request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderChangeRequest"
        default:
          $ref: "#/components/responses/Error"
  /air/order_change_requests/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Order Change Requests]
      operationId: getOrderChangeRequest
      summary: Get an order change request
      responses:
        "200":
          description: The order change request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderChangeRequest"
        default:
          $ref: "#/components/responses/Error"
  /air/order_change_offers:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Order Change Offers]
      operationId: listOrderChangeOffers
      summary: List order change offers
      parameters:
        - name: order_change_request_id
          in: query
          required: true
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [change_total_amount, "-change_total_amount", total_duration, "-total_duration"]
        - name: max_connections
          in: query
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of order change offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderChangeOffer"
        default:
          $ref: "#/components/responses/Error"
  /air/order_change_offers/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Order Change Offers]
      operationId: getOrderChangeOffer
      summary: Get an order change offer
      responses:
        "200":
          description: The order change offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderChangeOffer"
        default:
          $ref: "#/components/responses/Error"
  /air/order_changes:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Order Changes]
      operationId: createOrderChange
      summary: Create an order change from a selected change offer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [selected_order_change_offer]
                  properties:
                    selected_order_change_offer:
                      type: string
                      description: The order change offer ID to apply
      responses:
        "201":
          description: The created (pending) order change
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderChange"
        default:
          $ref: "#/components/responses/Error"
  /air/order_changes/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Order Changes]
      operationId: getOrderChange
      summary: Get an order change
      responses:
        "200":
          description: The order change
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderChange"
        default:
          $ref: "#/components/responses/Error"
  /air/order_changes/{id}/actions/confirm:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Order Changes]
      operationId: confirmOrderChange
      summary: Confirm an order change
      description: Irreversibly applies the change to the order, taking payment if due.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    payment:
                      $ref: "#/components/schemas/CreatePayment"
      responses:
        "200":
          description: The confirmed order change
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderChange"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Airline-Initiated Changes
  # ---------------------------------------------------------------------------
  /air/airline_initiated_changes:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Airline-Initiated Changes]
      operationId: listAirlineInitiatedChanges
      summary: List airline-initiated changes
      parameters:
        - name: order_id
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of airline-initiated changes
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AirlineInitiatedChange"
        default:
          $ref: "#/components/responses/Error"
  /air/airline_initiated_changes/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      tags: [Airline-Initiated Changes]
      operationId: updateAirlineInitiatedChange
      summary: Record the action taken for an airline-initiated change
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [action_taken]
                  properties:
                    action_taken:
                      type: string
                      enum: [accepted, cancelled, changed]
      responses:
        "200":
          description: The updated airline-initiated change
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AirlineInitiatedChange"
        default:
          $ref: "#/components/responses/Error"
  /air/airline_initiated_changes/{id}/actions/accept:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Airline-Initiated Changes]
      operationId: acceptAirlineInitiatedChange
      summary: Accept an airline-initiated change
      responses:
        "200":
          description: The accepted airline-initiated change
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AirlineInitiatedChange"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Flights: Airline Credits
  # ---------------------------------------------------------------------------
  /air/airline_credits:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Airline Credits]
      operationId: listAirlineCredits
      summary: List airline credits
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
          description: Filter by customer user ID
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of airline credits
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AirlineCredit"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Airline Credits]
      operationId: createAirlineCredit
      summary: Create an airline credit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateAirlineCredit"
      responses:
        "201":
          description: The created airline credit
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AirlineCredit"
        default:
          $ref: "#/components/responses/Error"
  /air/airline_credits/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Airline Credits]
      operationId: getAirlineCredit
      summary: Get an airline credit
      responses:
        "200":
          description: The airline credit
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AirlineCredit"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Supporting resources
  # ---------------------------------------------------------------------------
  /air/airlines:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Airlines]
      operationId: listAirlines
      summary: List airlines
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of airlines
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Airline"
        default:
          $ref: "#/components/responses/Error"
  /air/airlines/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Airlines]
      operationId: getAirline
      summary: Get an airline
      responses:
        "200":
          description: The airline
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Airline"
        default:
          $ref: "#/components/responses/Error"
  /air/aircraft:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Aircraft]
      operationId: listAircraft
      summary: List aircraft
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of aircraft
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Aircraft"
        default:
          $ref: "#/components/responses/Error"
  /air/aircraft/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Aircraft]
      operationId: getAircraft
      summary: Get an aircraft
      responses:
        "200":
          description: The aircraft
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Aircraft"
        default:
          $ref: "#/components/responses/Error"
  /air/airports:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Airports]
      operationId: listAirports
      summary: List airports
      parameters:
        - name: iata_country_code
          in: query
          schema:
            type: string
          description: Filter by ISO 3166-1 alpha-2 country code
        - name: iata_code
          in: query
          schema:
            type: string
          description: Filter by IATA airport code
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of airports
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Airport"
        default:
          $ref: "#/components/responses/Error"
  /air/airports/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Airports]
      operationId: getAirport
      summary: Get an airport
      responses:
        "200":
          description: The airport
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Airport"
        default:
          $ref: "#/components/responses/Error"
  /air/cities:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Cities]
      operationId: listCities
      summary: List cities
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of cities
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/City"
        default:
          $ref: "#/components/responses/Error"
  /air/cities/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Cities]
      operationId: getCity
      summary: Get a city
      responses:
        "200":
          description: The city
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/City"
        default:
          $ref: "#/components/responses/Error"
  /places/suggestions:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Places]
      operationId: getPlaceSuggestions
      summary: Get place suggestions
      description: Autocomplete airports and cities by name or location.
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Search string, e.g. a partial city or airport name
        - name: rad
          in: query
          schema:
            type: string
          description: Search radius in metres (used with lat/lng)
        - name: lat
          in: query
          schema:
            type: string
          description: Latitude to search around
        - name: lng
          in: query
          schema:
            type: string
          description: Longitude to search around
      responses:
        "200":
          description: Matching places
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Place"
        default:
          $ref: "#/components/responses/Error"
  /air/loyalty_programmes:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Loyalty Programmes]
      operationId: listLoyaltyProgrammes
      summary: List airline loyalty programmes
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of loyalty programmes
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/LoyaltyProgramme"
        default:
          $ref: "#/components/responses/Error"
  /air/loyalty_programmes/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Loyalty Programmes]
      operationId: getLoyaltyProgramme
      summary: Get an airline loyalty programme
      responses:
        "200":
          description: The loyalty programme
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/LoyaltyProgramme"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Notifications: Webhooks
  # ---------------------------------------------------------------------------
  /air/webhooks:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhooks
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Webhook"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Webhooks]
      operationId: createWebhook
      summary: Create a webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [url, events]
                  properties:
                    url:
                      type: string
                      format: uri
                      description: HTTPS endpoint to deliver events to
                    events:
                      type: array
                      items:
                        type: string
                      description: Event types to subscribe to, e.g. `order.created`
      responses:
        "201":
          description: The created webhook (includes signing secret, shown once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Webhook"
        default:
          $ref: "#/components/responses/Error"
  /air/webhooks/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      tags: [Webhooks]
      operationId: updateWebhook
      summary: Update a webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  properties:
                    url:
                      type: string
                      format: uri
                    events:
                      type: array
                      items:
                        type: string
                    active:
                      type: boolean
      responses:
        "200":
          description: The updated webhook
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Webhook"
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags: [Webhooks]
      operationId: deleteWebhook
      summary: Delete a webhook
      responses:
        "204":
          description: Webhook deleted
        default:
          $ref: "#/components/responses/Error"
  /air/webhooks/{id}/actions/ping:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Webhooks]
      operationId: pingWebhook
      summary: Send a ping event to a webhook
      responses:
        "200":
          description: Ping delivered
        default:
          $ref: "#/components/responses/Error"
  /air/webhooks/events:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Webhook Events]
      operationId: listWebhookEvents
      summary: List webhook events
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of webhook events
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookEvent"
        default:
          $ref: "#/components/responses/Error"
  /air/webhooks/events/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Webhook Events]
      operationId: getWebhookEvent
      summary: Get a webhook event
      responses:
        "200":
          description: The webhook event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WebhookEvent"
        default:
          $ref: "#/components/responses/Error"
  /air/webhooks/events/{id}/actions/redeliver:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Webhook Events]
      operationId: redeliverWebhookEvent
      summary: Redeliver a webhook event
      responses:
        "200":
          description: Event queued for redelivery
        default:
          $ref: "#/components/responses/Error"
  /air/webhooks/deliveries:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Webhook Deliveries]
      operationId: listWebhookDeliveries
      summary: List webhook deliveries
      parameters:
        - name: webhook_id
          in: query
          schema:
            type: string
        - name: delivery_success
          in: query
          schema:
            type: boolean
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of webhook deliveries
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookDelivery"
        default:
          $ref: "#/components/responses/Error"
  /air/webhooks/deliveries/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Webhook Deliveries]
      operationId: getWebhookDelivery
      summary: Get a webhook delivery
      responses:
        "200":
          description: The webhook delivery
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WebhookDelivery"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Stays
  # ---------------------------------------------------------------------------
  /stays/search:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Stays - Search]
      operationId: staysSearch
      summary: Search for accommodation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/StaysSearchParams"
      responses:
        "201":
          description: Search results with the cheapest rate per accommodation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: "#/components/schemas/StaysSearchResult"
                      created_at:
                        type: string
                        format: date-time
        default:
          $ref: "#/components/responses/Error"
  /stays/search_results/{search_result_id}/actions/fetch_all_rates:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: search_result_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Stays - Search]
      operationId: staysFetchAllRates
      summary: Fetch all rates for a search result
      responses:
        "200":
          description: The search result with all rooms and rates populated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysSearchResult"
        default:
          $ref: "#/components/responses/Error"
  /stays/accommodation:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Stays - Accommodation]
      operationId: listAccommodation
      summary: List accommodation
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of accommodation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StaysAccommodation"
        default:
          $ref: "#/components/responses/Error"
  /stays/accommodation/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Stays - Accommodation]
      operationId: getAccommodation
      summary: Get accommodation
      responses:
        "200":
          description: The accommodation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysAccommodation"
        default:
          $ref: "#/components/responses/Error"
  /stays/accommodation/suggestions:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Stays - Accommodation]
      operationId: getAccommodationSuggestions
      summary: Get accommodation suggestions
      description: Autocomplete accommodation by name or location.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [query]
                  properties:
                    query:
                      type: string
                      description: Search string, e.g. a partial hotel name
                    location:
                      type: object
                      properties:
                        geographic_coordinates:
                          $ref: "#/components/schemas/GeographicCoordinates"
                        radius:
                          type: integer
                          description: Radius in kilometres
      responses:
        "200":
          description: Matching accommodation suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StaysAccommodationSuggestion"
        default:
          $ref: "#/components/responses/Error"
  /stays/accommodation/{id}/reviews:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Stays - Accommodation]
      operationId: getAccommodationReviews
      summary: Get reviews for accommodation
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated accommodation reviews
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: object
                    properties:
                      reviews:
                        type: array
                        items:
                          $ref: "#/components/schemas/StaysReview"
        default:
          $ref: "#/components/responses/Error"
  /stays/loyalty_programmes:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Stays - Loyalty Programmes]
      operationId: listStaysLoyaltyProgrammes
      summary: List accommodation loyalty programmes
      responses:
        "200":
          description: Accommodation loyalty programmes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StaysLoyaltyProgramme"
        default:
          $ref: "#/components/responses/Error"
  /stays/quotes:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Stays - Quotes]
      operationId: createStaysQuote
      summary: Create a quote for a rate
      description: >
        Confirms availability and final price for a selected rate. Required
        before booking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [rate_id]
                  properties:
                    rate_id:
                      type: string
      responses:
        "201":
          description: The created quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysQuote"
        default:
          $ref: "#/components/responses/Error"
  /stays/quotes/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Stays - Quotes]
      operationId: getStaysQuote
      summary: Get a quote
      responses:
        "200":
          description: The quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysQuote"
        default:
          $ref: "#/components/responses/Error"
  /stays/bookings:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Stays - Bookings]
      operationId: listStaysBookings
      summary: List bookings
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StaysBooking"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Stays - Bookings]
      operationId: createStaysBooking
      summary: Create a booking from a quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateStaysBooking"
      responses:
        "201":
          description: The created booking
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysBooking"
        default:
          $ref: "#/components/responses/Error"
  /stays/bookings/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Stays - Bookings]
      operationId: getStaysBooking
      summary: Get a booking
      responses:
        "200":
          description: The booking
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysBooking"
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags: [Stays - Bookings]
      operationId: updateStaysBooking
      summary: Update a booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  properties:
                    metadata:
                      $ref: "#/components/schemas/Metadata"
                    users:
                      type: array
                      items:
                        type: string
                      description: Customer user IDs allowed to manage this booking
      responses:
        "200":
          description: The updated booking
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysBooking"
        default:
          $ref: "#/components/responses/Error"
  /stays/bookings/{booking_id}/actions/cancel:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: booking_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Stays - Bookings]
      operationId: cancelStaysBooking
      summary: Cancel a booking
      responses:
        "200":
          description: The cancelled booking
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysBooking"
        default:
          $ref: "#/components/responses/Error"
  /stays/bookings/{booking_id}/payment_instructions:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: booking_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Stays - Bookings]
      operationId: createBookingPaymentInstruction
      summary: Create payment instructions for a postpaid booking
      description: >
        Provides card details the accommodation will charge for a booking with
        deferred payment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [card_id]
                  properties:
                    card_id:
                      type: string
                      description: ID of a card created via the Cards API
      responses:
        "201":
          description: The created payment instruction
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      booking_id:
                        type: string
                      card_id:
                        type: string
                      created_at:
                        type: string
                        format: date-time
        default:
          $ref: "#/components/responses/Error"
  /stays/brands:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Stays - Brands]
      operationId: listStaysBrands
      summary: List accommodation brands
      responses:
        "200":
          description: Accommodation brands
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StaysBrand"
        default:
          $ref: "#/components/responses/Error"
  /stays/brands/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Stays - Brands]
      operationId: getStaysBrand
      summary: Get an accommodation brand
      responses:
        "200":
          description: The brand
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysBrand"
        default:
          $ref: "#/components/responses/Error"
  /stays/chains:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Stays - Chains]
      operationId: listStaysChains
      summary: List accommodation chains
      responses:
        "200":
          description: Accommodation chains
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StaysChain"
        default:
          $ref: "#/components/responses/Error"
  /stays/chains/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Stays - Chains]
      operationId: getStaysChain
      summary: Get an accommodation chain
      responses:
        "200":
          description: The chain
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysChain"
        default:
          $ref: "#/components/responses/Error"
  /stays/negotiated_rates:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Stays - Negotiated Rates]
      operationId: listNegotiatedRates
      summary: List negotiated rates
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of negotiated rates
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StaysNegotiatedRate"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Stays - Negotiated Rates]
      operationId: createNegotiatedRate
      summary: Create a negotiated rate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateStaysNegotiatedRate"
      responses:
        "201":
          description: The created negotiated rate
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysNegotiatedRate"
        default:
          $ref: "#/components/responses/Error"
  /stays/negotiated_rates/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Stays - Negotiated Rates]
      operationId: getNegotiatedRate
      summary: Get a negotiated rate
      responses:
        "200":
          description: The negotiated rate
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysNegotiatedRate"
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags: [Stays - Negotiated Rates]
      operationId: updateNegotiatedRate
      summary: Update a negotiated rate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateStaysNegotiatedRate"
      responses:
        "200":
          description: The updated negotiated rate
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StaysNegotiatedRate"
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags: [Stays - Negotiated Rates]
      operationId: deleteNegotiatedRate
      summary: Delete a negotiated rate
      responses:
        "204":
          description: Negotiated rate deleted
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Cars
  # ---------------------------------------------------------------------------
  /cars/search:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Cars - Search]
      operationId: carsSearch
      summary: Search for rental cars
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CarsSearchParams"
      responses:
        "201":
          description: The search with available rates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CarsSearch"
        default:
          $ref: "#/components/responses/Error"
  /cars/quotes:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Cars - Quotes]
      operationId: createCarsQuote
      summary: Create a quote for a rate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [rate_id]
                  properties:
                    rate_id:
                      type: string
      responses:
        "201":
          description: The created quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CarsQuote"
        default:
          $ref: "#/components/responses/Error"
  /cars/bookings:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Cars - Bookings]
      operationId: createCarsBooking
      summary: Create a booking from a quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateCarsBooking"
      responses:
        "201":
          description: The created booking
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CarsBooking"
        default:
          $ref: "#/components/responses/Error"
  /cars/bookings/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Cars - Bookings]
      operationId: getCarsBooking
      summary: Get a booking
      responses:
        "200":
          description: The booking
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CarsBooking"
        default:
          $ref: "#/components/responses/Error"
  /cars/bookings/{id}/actions/cancel:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Cars - Bookings]
      operationId: cancelCarsBooking
      summary: Cancel a booking
      responses:
        "200":
          description: The cancelled booking
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CarsBooking"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Payments: Cards (PCI-scoped host) and 3DS Sessions
  # ---------------------------------------------------------------------------
  /payments/cards:
    servers:
      - url: https://api.duffel.cards
        description: PCI-scoped host for card tokenisation
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Cards]
      operationId: createCard
      summary: Tokenise a card
      description: >
        Stores card details and returns a card ID for use in payments and 3DS
        sessions. Served from `api.duffel.cards`, not the main API host.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateCard"
      responses:
        "201":
          description: The tokenised card
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Card"
        default:
          $ref: "#/components/responses/Error"
  /payments/cards/{id}:
    servers:
      - url: https://api.duffel.cards
        description: PCI-scoped host for card tokenisation
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      tags: [Cards]
      operationId: deleteCard
      summary: Delete a card
      responses:
        "204":
          description: Card deleted
        default:
          $ref: "#/components/responses/Error"
  /payments/three_d_secure_sessions:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [3DS Sessions]
      operationId: createThreeDSecureSession
      summary: Create a 3DS session for a card payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [card_id, resource_id, services]
                  properties:
                    card_id:
                      type: string
                    resource_id:
                      type: string
                      description: ID of the offer, order, quote or booking being paid for
                    services:
                      type: array
                      items:
                        type: object
                        required: [id, quantity]
                        properties:
                          id:
                            type: string
                          quantity:
                            type: integer
                    exception:
                      type: string
                      enum: [secure_corporate_payment]
                      description: Request an SCA exception
                    cardholder_present:
                      type: boolean
      responses:
        "201":
          description: The 3DS session
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ThreeDSecureSession"
        default:
          $ref: "#/components/responses/Error"

  # ---------------------------------------------------------------------------
  # Identity
  # ---------------------------------------------------------------------------
  /identity/customer/users:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Customer Users]
      operationId: listCustomerUsers
      summary: List customer users
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - $ref: "#/components/parameters/Before"
      responses:
        "200":
          description: Paginated list of customer users
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/ListMeta"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CustomerUser"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Customer Users]
      operationId: createCustomerUser
      summary: Create a customer user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateCustomerUser"
      responses:
        "201":
          description: The created customer user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CustomerUser"
        default:
          $ref: "#/components/responses/Error"
  /identity/customer/users/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Customer Users]
      operationId: getCustomerUser
      summary: Get a customer user
      responses:
        "200":
          description: The customer user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CustomerUser"
        default:
          $ref: "#/components/responses/Error"
    put:
      tags: [Customer Users]
      operationId: updateCustomerUser
      summary: Update a customer user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/CreateCustomerUser"
      responses:
        "200":
          description: The updated customer user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CustomerUser"
        default:
          $ref: "#/components/responses/Error"
  /identity/customer/user_groups:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    get:
      tags: [Customer User Groups]
      operationId: listCustomerUserGroups
      summary: List customer user groups
      responses:
        "200":
          description: Customer user groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CustomerUserGroup"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Customer User Groups]
      operationId: createCustomerUserGroup
      summary: Create a customer user group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  required: [name]
                  properties:
                    name:
                      type: string
                    user_ids:
                      type: array
                      items:
                        type: string
      responses:
        "201":
          description: The created group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CustomerUserGroup"
        default:
          $ref: "#/components/responses/Error"
  /identity/customer/user_groups/{id}:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Customer User Groups]
      operationId: getCustomerUserGroup
      summary: Get a customer user group
      responses:
        "200":
          description: The group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CustomerUserGroup"
        default:
          $ref: "#/components/responses/Error"
    patch:
      tags: [Customer User Groups]
      operationId: updateCustomerUserGroup
      summary: Update a customer user group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  properties:
                    name:
                      type: string
                    user_ids:
                      type: array
                      items:
                        type: string
      responses:
        "200":
          description: The updated group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CustomerUserGroup"
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags: [Customer User Groups]
      operationId: deleteCustomerUserGroup
      summary: Delete a customer user group
      responses:
        "204":
          description: Group deleted
        default:
          $ref: "#/components/responses/Error"
  /identity/component_client_keys:
    parameters:
      - $ref: "#/components/parameters/DuffelVersion"
    post:
      tags: [Component Client Keys]
      operationId: createComponentClientKey
      summary: Create a component client key
      description: >
        Creates a short-lived JWT for authenticating Duffel UI components in
        the browser. Scope it by passing user and/or resource IDs.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    user_id:
                      type: string
                    order_id:
                      type: string
                    booking_id:
                      type: string
                    offer_request_id:
                      type: string
      responses:
        "201":
          description: The component client key
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      component_client_key:
                        type: string
                        description: JWT for use with Duffel UI components
        default:
          $ref: "#/components/responses/Error"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Duffel access token (test or live)
  parameters:
    DuffelVersion:
      name: Duffel-Version
      in: header
      required: true
      schema:
        type: string
        const: v2
      description: The Duffel API version
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
      description: Maximum number of records per page
    After:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for the page after this one
    Before:
      name: before
      in: query
      schema:
        type: string
      description: Cursor for the page before this one
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    # -------------------------------------------------------------------------
    # Shared
    # -------------------------------------------------------------------------
    ErrorResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
            status:
              type: integer
        errors:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Error category, e.g. `validation_error`, `airline_error`
              title:
                type: string
              code:
                type: string
                description: Machine-readable error code
              message:
                type: string
              documentation_url:
                type: string
                format: uri
              source:
                type: object
                properties:
                  pointer:
                    type: string
                  parameter:
                    type: string
    ListMeta:
      type: object
[...]
